* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 12px;
    width: 100vw;
    height: 100vh;
}
body {
    background-color: brown;
    position: relative;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.selectors-block {
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    overflow-x: scroll;
}
.selections {
    display: flex;
}
.playing-field {
    width: 100%;
}
.playing-field__header {
    width: 100%;
    padding: 15px 0px 40px 0px;
}

.playing-field__visual-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.block-table {
    display: flex;
    justify-content: center;
    width: 100%;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 200px;
    background-color: chocolate;
    transform: rotateX(322deg);
    border-bottom: 20px solid rgb(190, 96, 29);
    box-shadow: -2px 32px 20px 0px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.editor-block {
    position: relative;
    display: flex;
    width: 100%;
    height: 531px;
    border: 5px solid black;
    border-radius: 2%;
    padding: 5px;
} 
.header-editor {
    display: flex;
    justify-content: space-between;
    background-color: rgb(154, 97, 97);
    padding: 5px;
}

.editor, .viewer {
    width: 50%;
    height: 100%;
}


.editor {
    background-color: rgb(255, 255, 255);
}
.main-editor{
    display: flex;
}
.main-editor > .list {
    background-color:rgb(212, 99, 128);
}
.list__item {
    padding: 5px;
    list-style-type: none;
}
.editor__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px 0px 5px;

}
.editor__input {
    height: 20px;
    border: none;
    outline: none;
}

.editor__img-btn {
    width: 35px;
}
.editor__img-btn--active{
    transform: scale(0.9);
}
.viewer {
    background-color: rgb(255, 0, 76);
}

.list-levels {
    width: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    padding: 5px;
    font-size: 16px;
}

.list__item-levels {
    padding: 5px;
    list-style-type: none;
    background-color: none;
    color: rgb(156, 154, 154);

}
/* .list__item-levels::before {
    content: "\2611";
    color: rgb(156, 154, 154);
} */

.table__plate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border-bottom: 8px solid rgb(224, 220, 220);
    box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.5);
}
.table__apple {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border-bottom: 8px solid rgb(196, 54, 54);
    box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.table__apple--big {
    width: 35px;
    height: 35px;
}
.table__banana {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10px;
    height: 40px;
    background-color:rgb(246, 237, 107);
    border-radius: 61% 98% 98% 79%;
    z-index: 1;
}

.table__banana--big {
    width: 15px;
    height: 60px;
}
/* .table__banana::after {
    position: relative;
    content: ' ';
    top: -5px;
    width: 5px;
    height: 50px;
    background-color: black;
    z-index: 2;
} */
.table__bento {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 65px;
    height: 65px;
    background-color: rgb(216 38 79);
}
.table__lemon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 251, 0);
    border-radius: 50%;
    border-bottom: 8px solid rgb(196, 182, 54);
    box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.main-viewer {
    background-color:rgb(255, 0, 76);
    padding: 0px 5px 0px 5px;
}
.main-viewer > .code-highlighting:hover{
    color: rgb(253, 253, 253);
}
.animation-b {
    animation: move 1s infinite linear;
}

@keyframes move {
    0% {
        transform:  scale(1);
    }
    25% {
        transform:  scale(0.9);
    }
    50% {
        transform:  scale(0.8);
    }
    75% {
        transform:  scale(0.9);
    }
    100% {
        transform:  scale(1);
    }
}

.list__item--active  {
    color: rgb(255, 255, 255);
}
.list__item--active::before {
    color: rgb(255, 255, 255);
}

.list__item--finished  {
    color: rgb(152, 233, 120);
}
.list__item--finished::before {
    color: rgb(152, 233, 120);
}

.list__item--skip  {
    color: rgb(223, 69, 69);
}
.list__item--skip::before {
    color: rgb(223, 69, 69);
}
