#menu {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    margin-bottom: 30px;
    
}

.block-btns-page-change, 
.block-create-car,
.block-update-car,
.block-control-car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
/* .block-btns-page-change {
    margin-bottom: 10px;
} */
.btn-Garage, 
.btn-Winner{
    width: 80px;
    height: 40px;
    background-color: rgb(217, 140, 224);
    color:rgb(201, 218, 110);
    border-radius: 10%;
}
.btn-create-car,
.btn-update-car,
.btn-create-car,
.btn-update-car,
.btn-race,
.btn-reset,
.btn-generate,
#btn-update-car{
    width: 60px;
    height: 30px;
    background-color: rgb(217, 140, 224);
    color:rgb(201, 218, 110);
    border-radius: 10%;
}

.input-name{
    width: 100px;
}

.menu__block-Garage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
}


#race-field {
    width: 100%;
    height: 100%;
}

.block-race__car-info{
    display: flex;
    width: 30%;
    height: 50px;
    gap: 10px;
}

.btn-seclect,
.btn-remove {
    width: 80px;
    height: 20px;
    background-color: rgb(192, 196, 199);
}

.block-car {
    display: grid;
    width: 100%;
    height: 100%;

}

.control-car {

}

.block-car-and-flag {
    position: relative;
    display: flex;

}
.img-car {
    width: 80%;
}
.img-flag {
    width: 20%;
}
.svg-car {
    width: 60px;
    height: auto;
}
.flag {
    position: relative;
    top: -14px;
    width: 60px;
    height: auto;
    z-index: 2;
}
.road-race  {
    position: relative;
    border-bottom: 1px dashed black;
    top: -22px;
}

.block-count {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    margin-bottom: 20px;
}

.block-count__page {
    font-size: 20px;
}

.block-count_cars{
    font-size: 30px;
}
.block__li-pagination{
    width: auto;
    display: flex;
}
.list{
    display: flex;
    
    gap: 5px
}
.item{
    width: 20px;
    height: 20px;
    text-align: center;
    color: blueviolet;
    border: 1px solid black;
    font-size: 16px;
    list-style-type: none;
}
.item:hover {
    background-color:rgb(210, 168, 235);
    color: white;
}

.page--active {
    background-color:rgb(210, 168, 235);
    color: white;
}
.menu__block-winners {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.counterWinners {
    color: black;
    font-size: 30px;
}
.menu__counter-page {
    color: #000000;
    font-size: 20px;
}

.menu__block-table {
    width: 100%;
    height: 100%;
    border: 2px solid blueviolet;
}

.block-table__table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.table-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.table-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.table__header {
    width: 100%;
    height: 10px;
    background-color:cornflowerblue;
    color: white;
}


.table__header-item {
    color: black
}
.winner__svg-car{
    width: 5px;
    height: 10px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    width: 100vw;
    height: 100vh;
}
body {
    padding: 10px;
}

.block--none {
    display: none;
}
#main {
    position: relative;
}


.block-time {
    display: none;
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 40px;
    color: black;
    text-align: center;

}

.time-active{
    display: block;
}
