#menu {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    margin-bottom: 30px;
    
}

.block-btns-page-change, 
.block-create-car,
.block-update-car,
.block-control-car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
/* .block-btns-page-change {
    margin-bottom: 10px;
} */
.btn-Garage, 
.btn-Winner{
    width: 80px;
    height: 40px;
    background-color: rgb(217, 140, 224);
    color:rgb(201, 218, 110);
    border-radius: 10%;
}
.btn-create-car,
.btn-update-car,
.btn-create-car,
.btn-update-car,
.btn-race,
.btn-reset,
.btn-generate,
#btn-update-car{
    width: 60px;
    height: 30px;
    background-color: rgb(217, 140, 224);
    color:rgb(201, 218, 110);
    border-radius: 10%;
}

.input-name{
    width: 100px;
}

.menu__block-Garage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
}

